<div class="center hero-unit">
  <h1>Print your Pinterest boards! </h1>
</div>

  <h3>
    We will be offering a service to print Pinterest boards and photos onto visually stunning
    posters and framed photos. If you are interested then please register your interest in the form below
    and we will get in touch when our service is live
  </h3>
<br/><br/>


  <%= render 'shared/joiner_form'%>

