<div class="center">
<h1>The simplest way to print your Pinterest boards</h1>
</div>
  
<div class="center">
  <%= image_tag "sofa2.jpg" %>
<h1>Beautiful, framed A3 boards for only $99</h1>
</div>
<br/><br/>
  
    <h4>1. Choose the board or image you want on a beautiful A3 framed poster, for only $99</h4>
    <h4>3. We will extract the images from your board, or link</h4>
    <h4>2. We will arrange your images into a beautiful framed poster</h4>
    <h4>4. We send you the item with free worldwide shipping</h4>
<br/><br/>

  <%= render 'shared/name_form'%>

